.img-container {
    position: relative;
}

.img-container img {
    display: block;
}

.img-container span {
    position: absolute;
    top: 0;
    right: 0;
    color: aliceblue;
}

.feed-container-add-image {
    width: 100%;
    padding: 0.4%;
    margin-bottom: 1.4%;
    border-radius: 5px;
}

.red-cross {
    color: rgb(255, 95, 95);
}

input[type="file"] {
    display: none;
}

.add-button {
    color: rgb(236, 236, 236);
    background-color: rgb(60, 60, 60);
}